# Jap Development Group IDE Editor Standard
root = true

# Use spaces instead of tab indentation to keep the effect consistent under various editing tools
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
indent_size = 4

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
