HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### other ###
/jap-core/src/main/java/com/fujieid/jap/core/context/
/jap-simple/src/main/java/com/fujieid/jap/simple/SimpleAuthentication.java
/jap-simple/src/main/java/com/fujieid/jap/simple/SimpleCallback.java
/jap-core/src/main/java/com/fujieid/jap/core/Credential.java
/docs/bin/deploy.sh
/jap-core/pom.xml.versionsBackup
/jap-oauth2/pom.xml.versionsBackup
/jap-oidc/pom.xml.versionsBackup
/jap-simple/pom.xml.versionsBackup
/jap-social/pom.xml.versionsBackup
/jap-sso/pom.xml.versionsBackup
/pom.xml.versionsBackup
/jap-mfa/pom.xml.versionsBackup
